.navigation-bar{
    background-color: #1F2428;
    height: 50px;
    display:flex;
    justify-content: center;
}

.nav-link{
    color: #fff;
}

.hero{
    background-color: #1F2428;
    height: 80vh;
    color:#fff;
}

#profile_pic{
    height: 200px;
    width: 180px;
    object-fit: cover;
}

.hero--content{
    width: 1000;
    margin: 0 auto;
    padding: 3em;
}

.hero--content--intro{
    display: flex;
    color: #fff;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.intro--name{
    font-size: 48px;
}